:root{
    --color-menu: #333;
    --color-hover: rgba(0,0,0,0.5);
}

body{
    font-size: 1.5em;
}

.menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    background-color: var(--color-menu);
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
}

.submenu .submenu{
    left: 100%;
    top: 0;
}

.menu-item{
    position: relative;
}

.menu-item:hover{
    background-color: var(--color-hover);
}

/*selector > hijo directo*/
.menu-item:hover > .submenu{
    display: block;
}

.menu-link{
    text-decoration: none;
    color: #ddd;
    display: block;
    padding: .5em 1em
}