:root{
    --main-color: blue;
    --font-size: 1em;
}

[class*=button]{
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    border: none;
    margin: 1em;
    color: white;
    border-radius: .25rem;
    font-size: var(--font-size);
    background-color: var(--main-color);
}

.button--alert{
    --main-color: red;
}

.button--cta{
    --main-color: orange;
}

.button--small{
    --font-size: .75em;
}

.button--big{
    --font-size: 1.25em;
}